<div class="chat-header">
<div class="left-header">
    <div class="header-title">
      仮入力
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">商品リスト終了</a>
    </div>
  </div>
</div>

<div class="messages">
</div>

<div class="form">
</div>