/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  padding: 14px;
  text-decoration: none;
  background-color: #A9A9A9;
  height: 60px;
  display: flex; /* Flexbox を有効にする */
  justify-content: space-between; /* 子要素を水平方向に均等に配置 */
  align-items: center; /* 子要素を垂直方向に中央に配置 */
}

.user_info {
  display: flex; /* ユーザー名とリンクを横並びにする */
  align-items: center; /* ユーザー名とリンクを垂直方向に中央に配置 */
  margin-right: 10px; /* リンク間にスペースを追加 */
}

.user_info a {
  color: black; /* リンクの文字色を黒に設定 */
  text-decoration: none; /* 下線を無効にする */
}

.user__info li {
  margin-right: 10px; /* リンク間にスペースを追加 */
}

.user_links{
  margin-left: 10px; /* リンク間にスペースを追加 */
}